.breadcrumb {
    padding: 0 0 20px;

    .breadcrumb-list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            font-size: 14px;
            color: #9ca3af;
            display: flex;
            align-items: center;

            &:not(:first-child)::before {
                content: "/";
                margin: 0 6px;
                color: #d1d5db;
            }

            &.b-menu {
                color: var(--color-main-green);
                white-space: nowrap;
                font-weight: 500;
            }

            &.active {
                color: #111827;
                font-weight: 600;
            }

            span {
                white-space: normal;
            }
        }

        a {
            color: inherit;
            text-decoration: none;
            display: inline-flex;
            align-items: center;

            &:hover {
                text-decoration: underline;
            }
        }

        .icon-home {
            color: var(--color-main-green);
            font-size: 16px;
            line-height: 1;
        }
    }

}