.checkout-page {
    padding-top: 15px;

    .cart-intro {
        display: flex;
        align-items: flex-start;
        margin-bottom: 35px;
        justify-content: space-between;

        @include breakpoint(tablet) {
            margin-bottom: 66px;
        }
    }

    .checkout-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .block {
            margin-bottom: 30px;

            @include breakpoint(tablet) {
                margin-bottom: 40px;
            }

            .block-title {
                font-size: 14px;
                margin-bottom: 15px;
                color: #000;
                text-align: center;

                @include breakpoint(tablet) {
                    font-size: 16px;
                    margin-bottom: 30px;
                }
            }

            &:last-of-type {

                @include breakpoint(tablet) {
                    margin-bottom: 0;
                }
            }
        }

        .gr-address {

            .main-address {
                display: flex;
                flex-direction: column;
                margin-bottom: 30px;

                @include breakpoint(tablet) {
                    padding-right: 0px;
                }

                .gr-des {
                    font-size: 16px;
                }

                .gr-action {
                    display: flex;
                    justify-content: flex-end;
                    padding-top: 15px;

                    .default {
                        display: flex;
                        align-items: center;
                        padding-right: 30px;

                        .txt-default {
                            color: #a2a2a2;
                        }

                        .btn-edit {
                            text-align: center;
                            cursor: pointer;
                            padding-left: 5px;

                            .txt-edit {
                                color: var(--color-main-green);
                                font-weight: 500;

                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }

                    .btn-change {
                        color: var(--color-main-green);
                    }
                }
            }

            .list-address {
                .form-info {
                    margin-bottom: 15px;

                    .checkbox {
                        cursor: pointer;
                    }
                }

                .item-address {
                    font-size: 13px;

                    @include breakpoint(tablet) {
                        font-size: 14px;
                    }

                    .user-name {
                        color: var(--color-black);
                        margin-right: 15px;
                    }
                }
            }
        }

        .btn-add-new-address {
            font-size: 14px;
            width: 110px;
            display: inline-flex;
            flex-direction: row;
            justify-content: flex-end;
            margin-top: 5px;
            width: 100%;

            .btn-add {
                color: var(--color-main-green);
                margin-left: 15px;
            }

            .btn-cancel {
                color: var(--color-gray);
            }
        }

        .txt-description {
            color: #000000;
            line-height: 21px;
            font-size: 14px;
            text-align: center;

            @include breakpoint(tablet) {
                font-size: 16px;
            }
        }

        .btn-add-address {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            button {
                width: 100%;
                max-width: 150px;
            }
        }

        .checkout-btns {
            margin-bottom: 38px;

            .btn {
                width: 130px;
                margin-right: 11px;
            }
        }

        .checkout-col-6 {
            width: 100%;
            padding-right: 0px;

            @include breakpoint(tablet) {
                width: 33.3333%;
                padding-right: 40px;
                margin-bottom: 0px;
            }
        }

        .checkout-col-4 {
            width: 100%;
            padding-right: 0px;
            margin-bottom: 20px;

            @include breakpoint(tablet) {
                width: 33.3333%;
                padding-right: 40px;
                margin-bottom: 0px;
            }
        }

        .checkout-col-2 {
            width: 100%;

            @include breakpoint(tablet) {
                width: 33.3333%;
            }
        }
    }

    .checkout-actions {
        padding-top: 40px;

        @include breakpoint(tablet) {
            padding-top: 60px;
            display: flex;
            justify-content: flex-end;
        }

        .btn {
            display: block;
            margin: 0 auto;
            width: 85%;
            max-width: 300px;

            @include breakpoint(tablet) {
                width: 220px;
                margin: unset;
            }

            &.btn-border {
                order: 2;

                @include breakpoint(tablet) {
                    order: 1;
                }
            }
        }
    }

    .round-options {
        display: flex;
        flex-wrap: wrap;

        &.round-options--three {
            margin-right: -6px;

            .round-item {
                margin-right: 6px;
                width: calc(100% / 3 - 6px);
            }
        }

        &.round-options--two {
            margin-right: -6px;

            .round-item {
                margin-right: 6px;
                width: calc(100% / 2 - 6px);
            }
        }

        .round-item {
            display: flex;
            height: 44px;
            margin-bottom: 8px;
            align-items: center;
            border: 1px solid #d8d8d8;
            border-radius: 20px;
            align-items: center;
            justify-content: center;

            img {
                max-height: 80%;
                max-width: 80%;
            }

            p {
                font-weight: bold;
                color: var(--color-black);
                font-size: 14px;
            }

            &.round-item--bg {
                height: 51px;
                align-items: center;
                padding: 0 26px 0 21px;
                justify-content: space-between;
            }
        }
    }

    .checkout-items {
        .checkout-item {
            display: flex;
            align-items: center;
            margin-bottom: 23px;
            justify-content: space-between;

            .checkout-item-content {
                display: flex;
                align-items: center;
                width: calc(100% - 80px);

                @include breakpoint(tablet) {
                    width: calc(100% - 90px);
                }

                .checkout-item-data {
                    p {
                        line-height: 16px;
                        margin-bottom: 4px;
                        color: var(--color-main-coffee);
                        font-size: 14px;
                        font-weight: 500;

                        @include breakpoint(tablet) {
                            line-height: 18px;
                            margin-bottom: 4px;
                        }
                    }

                    span {
                        font-size: 12px;
                        color: #000;

                        @include breakpoint(tablet) {
                            font-size: 14px;
                        }
                    }
                }

                .checkout-item-img {
                    width: 50px;
                    height: 50px;
                    flex-shrink: 0;
                    margin-right: 10px;
                    border-radius: 100%;

                    img {
                        border-radius: 100%;
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            .c-price {
                font-size: 14px;

                @include breakpoint(tablet) {
                    font-size: 16px;
                }
            }
        }
    }

    .checkout-total {
        width: 100%;
        background: #f1f1f1;
        border-radius: 5px;
        align-items: center;
        height: 40px;
        display: flex;
        padding: 0 36px;
        margin: 34px auto 0 auto;
        justify-content: center;

        @include breakpoint(tablet) {
            height: 49px;
        }

        p {
            font-weight: 300;
            margin-right: 15px;
        }
    }
}