.complete-order-page {
  padding-top: 15px;

  .mesage-complete {
    text-align: center;
    font-size: 22px;
    padding: 60px 0px 40px 0px;

    @include breakpoint(tablet) {
      font-size: 26px;
    }
  }

  .mesage-complete-detail {
    text-align: center;
    line-height: 22px;
    padding-bottom: 100px;

    @include breakpoint(tablet) {
      padding-bottom: 120px;
    }
  }

  .complete-order {
    .group-btn {
      @include breakpoint(tablet) {
        width: 750px;
      }
    }
  }
}