.discoveries-page {
    padding-top: 56px;

    @include breakpoint(tablet) {
        padding-top: 20px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    .discoveries-main {
        display: unset;
        width: 100%;

        @include breakpoint(tablet) {
            display: flex;
        }
    }

    .show-menu-filter {
        position: fixed;
        top: 65px;
        width: 100%;
        left: 0;
        right: 0;
        padding: 8px 10px;
        z-index: 100;
        font-size: 12px;
        background-color: #fff;
        display: flex;
        font-size: 14px;
        overflow-x: scroll;
        overflow-y: hidden;
        box-shadow: 0px 4px 8px rgb(182 182 182 / 18%);

        @include breakpoint(tablet) {
            display: none;
        }

        i {
            display: inline-block;
            transition: all 0.3s ease;
            transform: rotate(270deg);
        }

        &.show-menu-filter--active {
            i {
                transform: rotate(90deg);
            }
        }
    }

    .discovery-item {
        width: 100%;
        height: 250px;
        margin-bottom: 20px;
        border-radius: 4px;
        box-sizing: border-box;
        box-shadow: 0px 4px 6px 0px rgb(44 44 44 / 4%);
        cursor: pointer;
        overflow: hidden;
        position: relative;

        @include breakpoint(tablet) {
            width: calc(50% - 10px);
            height: 250px;
            margin-bottom: 20px;
        }

        &:hover {
            box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 8%);

            .discovery-item-content {
                transform: scale(1.04);
            }
        }

        .discovery-item-content {
            transition: all .5s;
            padding: 20px;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .discovery-name {
            font-size: 20px;
            position: absolute;
            bottom: 100px;
            background: rgba(224, 224, 224, 0.5);
            text-align: right;
            width: auto;
            padding: 6px 10px;
            border-radius: 0px 5px 0px 0px;

            a {
                color: #000;
                opacity: 1;
            }

            @include breakpoint(tablet) {
                font-size: 22px;
                bottom: 100px;
            }
        }

        .discovery-brief-description {
            height: 100px;
            position: absolute;
            bottom: 0px;
            padding: 10px;
            background: rgba(0, 0, 0, 0.5);

            @include breakpoint(tablet) {
                height: 100px;
            }

            p {
                display: -webkit-box;
                max-width: 100%;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
                overflow: hidden;
                color: #ffff;
                font-size: 14px;
                line-height: 20px;

                @include breakpoint(tablet) {
                    font-size: 16px;
                }
            }
        }
    }

    .section-content {
        width: 100%;
        display: unset;
        flex-wrap: wrap;

        @include breakpoint(tablet) {
            // width: calc(100% - 330px);
            display: flex;
            justify-content: space-between;
        }
    }
}

.discovery-detail-page {
    padding-top: 15px;

    @include breakpoint(tablet) {
        padding-top: 20px;
    }

    .discovery-single-content {
        margin-bottom: 22px;
        height: auto;
        margin-bottom: 30px;

        @include breakpoint(tablet) {
            margin-bottom: 50px;
        }

        .discovery-gallery {
            height: 300px;
            width: 100%;
            margin-bottom: 15px;

            @include breakpoint(tablet) {
                flex-direction: unset;
                height: 100%;
                height: calc(100vh - 180px);
                margin-bottom: 30px;
            }

            .swiper-wrapper {
                width: 100%;
            }

            .discovery-gallery-thumb {
                width: 100%;
                height: 100%;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                background-color: var(--color-main-gray);
            }

            .swiper-button-next,
            .swiper-button-prev {
                color: var(--color-main-green);

                &::after {
                    font-size: 30px;

                    @include breakpoint(tablet) {
                        font-size: 40px;
                    }
                }
            }
        }

        .brief-content {
            position: relative;
            border-bottom: 1px solid #ebebeb;
            text-align: center;

            @include breakpoint(tablet) {
                margin-bottom: 40px;
                border: none;
            }

            .brief-content-name {
                font-size: 14px;
                margin-bottom: 10px;
                color: var(--main-red-2-color);
                line-height: 26px;
                font-weight: 700;

                @include breakpoint(tablet) {
                    font-size: 16px;
                    line-height: 30px;
                    margin-bottom: 20px;
                }
            }

            .brief-content-detail {
                margin-bottom: 15px;

                .infor {
                    font-weight: 700;
                    margin-bottom: 8px;
                    font-size: 14px;

                    @include breakpoint(tablet) {
                        font-size: 16px;
                        margin-bottom: 10px;
                        display: block;
                    }

                    .title {
                        margin-right: 5px;
                        font-weight: normal;

                        @include breakpoint(tablet) {
                            margin-right: 8px;
                        }

                        &::before {
                            content: "\A";
                            width: 3px;
                            height: 3px;
                            border-radius: 50%;
                            background: #999;
                            display: inline-block;
                            margin-right: 10px;
                            margin-bottom: 3px;
                        }
                    }

                }
            }
        }
    }

    .discovery-single-info {
        margin-bottom: 80px;

        .discovery-single-description {
            line-height: 22px;
            font-size: 14px;

            @include breakpoint(tablet) {
                display: flex;
                flex-direction: column;
                line-height: 26px;
                justify-content: space-between;
                font-size: 16px;
            }

            img {
                max-width: 100%;
                width: 100%;
                float: unset;
                height: auto;
                margin-top: 10px;
                margin-bottom: 10px;

                @include breakpoint(tablet) {
                    width: unset !important;
                    max-width: 60vw;
                    height: auto;
                    display: block;
                    margin: 10px auto;
                    max-height: 600px;
                }
            }

            a {
                color: var(--color-main-green);
                font-weight: 700;
            }
        }
    }
}


//style popup
.popup-filter-discoveries-overlay {
    .filter-mobile {
        height: 70vh;
    }
}

.popup-filter-discoveries-content {
    padding: 0px !important;
    border: none !important;
}