.forgot-password-page {
    padding-top: 15px;

    .confirm-code {
        width: 70%;
        padding-top: 20px;
    }

    .action-cancel-submit {
        margin-top: 80px;
    }

    .form {
        @include breakpoint(tablet) {
            max-width: 500px;
            margin: 0 auto;
        }
    }
}