//page
.featured {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    width: 100%;
    padding-bottom: 40px;

    @include breakpoint(tablet) {
        padding-top: 100px;
    }

    .featured-item {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;

        @include breakpoint(tablet) {
            margin-bottom: 80px;
            height: 400px;
            flex-direction: row;
        }

        &.du-lich {
            .col-4 {
                order: 1;

                @include breakpoint(tablet) {
                    order: 2;
                }
            }

            .col-6 {
                order: 2;

                @include breakpoint(tablet) {
                    order: 1;
                }
            }
        }

        .col-4 {
            width: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include breakpoint(tablet) {
                width: 40%;
            }

            &.left {
                padding-right: unset;

                @include breakpoint(tablet) {
                    padding-right: 30px;
                }
            }

            &.right {
                padding-left: unset;

                @include breakpoint(tablet) {
                    padding-left: 30px;
                }
            }

            .des-title {
                font-size: 18px;
                font-weight: 400;
                margin-bottom: 20px;
                text-align: center;
                font-weight: bold;
                color: var(--color-main-green);
                cursor: pointer;

                @include breakpoint(tablet) {
                    font-size: 20px;
                    margin-bottom: 30px;
                }
            }

            .item {
                padding: 8px 0px;

                @include breakpoint(tablet) {
                    padding: 12px 0px;
                }

                .txt-des {
                    padding-left: 10px;

                    @include breakpoint(tablet) {
                        padding-left: unset;
                    }

                    .txt-des-title {
                        color: var(--color-main-coffee);
                        font-size: 16px;
                        line-height: 24px;

                        @include breakpoint(tablet) {
                            margin-bottom: 8px;
                            font-size: 18px;
                            line-height: 26px;
                        }
                    }
                }
            }
        }

        .col-6 {
            width: 100%;
            height: 200px;
            background-position: center;
            background-size: cover;
            position: relative;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding: 20px 10px;

            @include breakpoint(tablet) {
                width: 60%;
                height: unset;
                border-radius: 15px;
                padding: 30px 30px;
            }
        }

        .h-content {
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;

            .btn {
                min-width: 120px;

                @include breakpoint(tablet) {
                    width: 200px;
                }

                &:hover {
                    color: #fff;
                    background-color: var(--color-main-green-light);
                }
            }

            .f-i-title {
                font-size: 20px;
                color: #fff;

                @include breakpoint(tablet) {
                    font-size: 30px;
                }
            }
        }
    }
}


.page-intro {
    position: relative;

    .swiper-button-prev,
    .swiper-button-next {
        bottom: 20px;
        top: auto;
        transform: translateX(50%);
        right: 14%;
        left: auto;
        width: 42px;
        height: 42px;
        z-index: 100;
        display: flex;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        position: absolute;
        display: none;
        background-color: rgba(255, 255, 255, 0.12);

        @include breakpoint(tablet) {
            width: 52px;
            height: 52px;
            bottom: 30px;
            font-size: 17px;
            display: flex;
        }

        @include breakpoint(tablet) {
            width: 72px;
            height: 72px;
            bottom: 30px;
            font-size: 21px;
            display: flex;
        }

        &:before {
            color: #fff;
            content: "\e80b";
            font-family: "icons";
        }

        &:hover {
            background: #fff;

            &:before {
                color: #000;
            }
        }
    }

    .swiper-button-prev {
        &:after {
            content: "";
        }
    }

    .swiper-button-next {
        right: 20px;

        @include breakpoint(tablet) {
            right: 7%;
        }

        &:before {
            content: "\e811";
        }

        &:after {
            content: "";
        }
    }

    .swiper-pagination-progressbar {}

    .shop-data {
        bottom: 0;
        left: 0;
        width: 80%;
        z-index: 99;
        display: none;
        position: absolute;
        padding: 36px 30px 30px 30px;

        @include breakpoint(tablet) {
            display: block;
        }

        &:before {
            background: #fff;
            content: "";
            left: 0;
            bottom: 0;
            top: 0;
            width: 100%;
            display: block;
            z-index: 1;
            border-radius: 0 70px 0 0;
            position: absolute;
        }
    }

    .page-intro-slide {
        height: 350px;
        position: relative;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-color: #fafafa;

        @include breakpoint(tablet) {
            height: 550px;
        }

        &:before {
            content: "";
            left: 0;
            z-index: 5;
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: rgba(0, 0, 0, 0.2);
        }

        .container {
            z-index: 10;
            display: flex;
            position: relative;
            align-items: center;
            height: 100%;
        }

        .page-intro-slide-content {
            position: absolute;
            bottom: 20px;
            width: 100%;

            @include breakpoint(tablet) {
                bottom: 50px;
            }

            .p-i-title {
                font-size: 26px;
                color: #fff;
                margin-bottom: 20px;

                @include breakpoint(tablet) {
                    font-size: 52px;
                }
            }
        }
    }
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;

    @include breakpoint(tablet) {
        padding-bottom: 35%;
    }

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        @include breakpoint(tablet) {
            height: 100%;
        }
    }
}

.shop-data-items {
    @include breakpoint(tablet) {
        display: flex;
        justify-content: space-between;
    }

    li {
        text-align: center;
        margin-bottom: 30px;

        @include breakpoint(tablet) {
            width: 22%;
            margin-bottom: 0;
            text-align: left;
            margin-bottom: 50px;
        }

        i {
            height: 56px;
            width: 56px;
            font-size: 18px;
            flex-shrink: 0;
            display: flex;
            color: #000;
            background: #f6f6f6;
            border-radius: 10px;
            transition: all 0.3s ease;
            justify-content: center;
            align-items: center;
            margin-bottom: 15px;
            margin-left: auto;
            margin-right: auto;

            @include breakpoint(tablet) {
                margin-bottom: 43px;
                height: 70px;
                width: 70px;
                font-size: 20px;
                margin-bottom: 28px;
            }
        }

        .data-item-content {
            h4 {
                margin-bottom: 10px;
                font-size: 16px;
                text-align: center;

                @include breakpoint(tablet) {
                    font-size: 18px;
                    margin-bottom: 20px;
                }
            }

            p {
                line-height: 20px;
                text-align: center;
            }
        }

        &:hover {
            i {
                color: var(--color-main-green);
                background: var(--color-main-light);
            }
        }
    }
}