.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
}

.modal {
    background: #fff;
    border-radius: 16px;
    width: 100%;
    max-width: 520px;
    padding: 24px 24px 28px;
    animation: modalFadeUp 0.25s ease;

    .modal-title {
        text-align: center;
        font-size: 20px;
        margin-bottom: 30px;
        font-weight: 600;
        color: var(--color-main-green);
    }

    .modal-desc {
        text-align: center;
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 30px;
        font-weight: 600;
        color: var(--color-main-coffee);
    }

    .m-action {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 0px;
    }
}


@keyframes modalFadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
