.products-page {
    padding-top: 56px;

    @include breakpoint(tablet) {
        padding-top: 20px;
    }

    .products-main {
        display: unset;
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        @include breakpoint(tablet) {
            display: flex;
        }

        .search-area {
            height: 100px;
            width: 100%;
            margin-bottom: 30px;
            position: relative;

            @include breakpoint(tablet) {
                margin-bottom: 40px;
            }

            .txt-result {
                font-size: 18px;
                text-align: center;
                margin-bottom: 20px;
            }

            .search-form {
                width: 100%;
                transition: all 0.3s ease;

                .form {
                    display: flex;
                    position: relative;
                    width: 70%;
                    margin: 0 auto;

                    input {
                        height: 40px;
                        width: 100%;
                        border-bottom: 1px solid black;
                        transition: all 0.3s ease;
                        margin: 0 auto;
                        font-size: 18px;

                        @include inputPlaceholder {
                            color: #808080;
                        }
                    }

                    .icon-search {
                        top: 10px;
                        right: 10px;
                        font-size: 20px;
                        cursor: pointer;
                        position: absolute;
                    }
                }
            }

            .icon-cancel {
                padding: 10px;
                position: absolute;
                top: -5px;
                right: 0;
                cursor: pointer;

                &:hover {
                    color: var(--color-main-green);
                }
            }
        }

        .btn-add {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            margin-bottom: 20px;
        }
    }

    .show-menu-filter {
        position: fixed;
        top: 65px;
        width: 100%;
        left: 0;
        right: 0;
        padding: 8px 10px;
        z-index: 100;
        font-size: 12px;
        background-color: #fff;
        display: flex;
        font-size: 14px;
        overflow-x: scroll;
        overflow-y: hidden;
        box-shadow: 0px 4px 8px rgb(182 182 182 / 18%);

        @include breakpoint(tablet) {
            display: none;
        }

        i {
            display: inline-block;
            transition: all 0.3s ease;
            transform: rotate(270deg);
        }

        &.show-menu-filter--active {
            i {
                transform: rotate(90deg);
            }
        }

        // .filter-item {
        //     border: 1px dotted var(--color-main-coffee);
        //     padding: 6px 10px 6px 8px;
        //     min-width: 80px;
        //     max-width: 120px;
        //     width: auto;
        //     text-align: center;
        //     border-radius: 15px;
        //     margin-right: 8px;
        //     position: relative;
        //     padding-right: 20px;
        //     white-space: nowrap;
        //     overflow: hidden;
        //     text-overflow: ellipsis;

        //     &:last-child {
        //         margin-right: 0px;
        //     }

        //     i {
        //         display: inline-block;
        //         transition: all 0.3s ease;
        //         transform: rotate(270deg);
        //         margin-left: 4px;
        //         position: absolute;
        //         top: 6px;
        //         right: 4px;
        //     }

        //     &.active {
        //         i {
        //             transform: rotate(360deg);
        //         }
        //     }

        //     &.has-value {
        //         background: var(--color-main-gray-1);
        //     }
        // }
    }

    .section-content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @include breakpoint(tablet) {
            width: calc(100% - 290px);
            justify-content: flex-start;
        }

        .btn-head {}
    }

    .product-item {
        height: 280px;
        width: 49%;
        cursor: pointer;
        margin-bottom: 20px;
        border-radius: 5px;

        @include breakpoint(phone) {
            height: 410px;
            width: 33.3333%;
            margin-bottom: 40px;
            padding: 0px 5px;
        }

        &:hover {
            .product-image {
                box-shadow: rgb(0 0 0 / 10%) 0px 0px 20px;
            }

            .product-description {
                .product-name {
                    color: #812720;
                }

                .product-price {
                    color: #000;
                }
            }

        }

        .product-image {
            height: 220px;
            background-color: #fafafa;
            margin-bottom: 8px;
            position: relative;
            overflow: hidden;
            border: 1px solid transparent;
            border-radius: 5px;

            @include breakpoint(tablet) {
                height: 340px;
                margin-bottom: 15px;
            }

            >a {
                height: 100%;
                width: 100%;
                display: block;
                padding: 18px;

                @include breakpoint(tablet) {
                    padding: 24px;
                }
            }

            img {
                top: 0;
                left: 0;
                z-index: 5;
                width: 100%;
                height: 100%;
                object-position: top center;
                object-fit: cover;
                position: absolute;
                // transition: transform .2s;
                -webkit-transition: all 1s ease;
                -moz-transition: all 1s ease;
                -ms-transition: all 1s ease;
                transition: all 1s ease;

                &:hover {
                    transform: scale(1.02);
                }
            }

            .product-discount {
                color: #fff;
                padding: 5px 9px;
                border-radius: 40px;
                font-weight: 500;
                font-size: 12px;
                z-index: 10;
                position: relative;
                background-color: var(--main-red-color);
            }

            .product-status {
                position: absolute;
                z-index: 120;
                bottom: 10px;
                right: 10px;
                background: var(--color-main-gray-1);
                width: fit-content;
                padding: 0px;
                color: var(--color-main-coffee);
                height: 20px;
                align-items: center;
                display: flex;
                border-radius: 2px;
                justify-content: center;

                @include breakpoint(tablet) {
                    height: 30px;
                }

                &.out-of-stock {
                    color: var(--main-red-2-color);
                    padding: 2px 6px;

                    @include breakpoint(tablet) {
                        padding: 0px 20px;
                    }
                }

                &.on-sale {
                    color: var(--color-main-green);
                    padding: 2px 6px;
                }
            }
        }

        .product-description {
            text-align: center;

            .product-name {
                margin-bottom: 6px;
                font-size: 14px;
                font-weight: 700;
                color: var(--main-red-2-color);
                line-height: 16px;

                @include breakpoint(tablet) {
                    font-size: 16px;
                    margin-bottom: 9px;
                }
            }

            .product-price {
                font-weight: 500;
                font-size: 14px;
                color: var(--color-main-coffee);

                @include breakpoint(tablet) {
                    font-size: 16px;
                }
            }
        }

        &.product-item--loading {

            .product-image,
            .product-description h3,
            .product-price h4 {
                &:before {
                    content: "";
                    background-color: #eee;
                    background-image: linear-gradient(90deg, #eee, #f5f5f5, #eee);
                    animation-name: skeleton;
                    animation-duration: 1.2s;
                    animation-timing-function: ease-in-out;
                    animation-iteration-count: infinite;
                    background-size: 200px 100%;
                    background-repeat: no-repeat;
                    border-radius: 4px;
                    display: inline-block;
                    line-height: 1;
                    width: 100%;
                }
            }

            .product-image {
                position: relative;

                &:before {
                    top: 0;
                    left: 0;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                }
            }

            .product-description {
                h3 {
                    &:before {
                        height: 20px;
                        width: 80%;
                    }
                }
            }

            .product-price {
                h4 {
                    color: var(--main-red-color);
                    width: 40%;

                    &:before {
                        height: 18px;
                        width: 100%;
                    }
                }
            }
        }
    }

}

.product-detail-page {
    padding-top: 15px;

    @include breakpoint(tablet) {
        padding-top: 20px;
    }

    .product-detail-content {
        margin-bottom: 50px;
        height: auto;

        @include breakpoint(tablet) {
            display: flex;
            align-items: flex-start;
            margin-bottom: 100px;
            // height: 440px;
            margin-bottom: 60px;
        }

        .product-gallery {
            display: flex;
            flex-direction: column-reverse;
            margin-bottom: 30px;

            @include breakpoint(tablet) {
                flex-direction: unset;
                margin-bottom: 0;
                margin-right: 40px;
                height: 450px;
            }

            .product-gallery-image {
                height: 300px;
                width: 100%;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                background-color: var(--color-main-gray);
                border-radius: 5px;

                @include breakpoint(tablet) {
                    width: 600px;
                    height: 100%;
                    border-radius: 8px;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-position: top center;
                    object-fit: cover;
                }
            }

            .product-gallery-thumbs {
                height: 60px;

                @include breakpoint(tablet) {
                    width: 90px;
                    height: 100%;
                    margin-right: 10px;
                }

                .p-g-mobile {
                    display: block;
                    height: 100%;
                    margin-top: 2px;

                    @include breakpoint(tablet) {
                        display: none;
                    }
                }

                .p-g-desktop {
                    display: none;

                    @include breakpoint(tablet) {
                        display: block;
                        height: 100%;
                    }
                }

                .product-gallery-thumb {
                    img {
                        width: 100%;
                        height: 100%;
                        object-position: top center;
                        object-fit: cover;
                        opacity: 0.7;
                        cursor: pointer;
                        border-radius: 3px;

                        &.active,
                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        .product-content {
            flex: 1;

            .product-add-cart {
                // border-bottom: 1px solid #ebebeb;
                margin-bottom: 25px;

                @include breakpoint(tablet) {
                    border-bottom: none;
                    margin-bottom: 40px;
                }

                .product-name {
                    font-size: 16px;
                    margin-bottom: 15px;
                    color: var(--main-red-2-color);
                    line-height: 26px;
                    font-weight: 700;
                    text-align: center;

                    @include breakpoint(tablet) {
                        font-size: 18px;
                        margin-bottom: 15px;
                    }
                }

                .brief-description {
                    margin-bottom: 30px;
                    border-bottom: 1px solid #ebebeb;
                    padding-bottom: 15px;

                    p {
                        line-height: 20px;
                        font-weight: normal;
                        font-size: 14px;

                        @include breakpoint(tablet) {
                            line-height: 22px;
                            font-size: 16px;
                        }
                    }
                }

                .choose-product {

                    .pack-head {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-bottom: 20px;
                        max-width: 400px;
                        padding: 0px 36px 0px 36px;
                        font-weight: 700;

                        @include breakpoint(tablet) {
                            max-width: 450px;
                            margin-bottom: 15px;
                        }
                    }

                    .pack-item {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        max-width: 400px;
                        height: 50px;

                        @include breakpoint(tablet) {
                            max-width: 450px;
                        }

                        .pack-name {
                            width: calc(100% - 120px);

                            @include breakpoint(tablet) {
                                width: calc(100% - 140px);
                                padding-top: 5px;
                            }

                            label {
                                margin-bottom: 0px;
                            }
                        }

                        .quantity-buttons {
                            display: none;

                            &.active {
                                display: block;
                            }
                        }
                    }
                }

                .btn-add-to-cart {
                    display: flex;
                    justify-content: center;
                    padding: 30px 0px 20px;

                    @include breakpoint(tablet) {
                        padding: 25px 0px 10px;
                    }
                }

                .call-to-order {
                    width: 100%;
                    text-align: center;
                    margin-top: 25px;

                    @include breakpoint(tablet) {
                        margin-top: 20px;
                        text-align: left;
                    }

                    .c-title {
                        margin-bottom: 25px;
                        font-weight: 700;

                        @include breakpoint(tablet) {
                            margin-bottom: 0px;
                            font-weight: normal;
                        }
                    }

                    .phone-lable {
                        font-weight: 700;
                        display: none;

                        @include breakpoint(tablet) {
                            display: inline-block;
                        }

                        .zalo {
                            color: #508FBE;
                        }

                        .phone {
                            color: #076836;
                            padding-left: 5px;
                        }
                    }

                    .phone-val {
                        font-weight: 700;
                        padding-left: 10px;
                    }

                    .action {
                        display: flex;
                        justify-content: center;

                        @include breakpoint(tablet) {
                            display: none;
                        }

                        a.btn {
                            height: 36px;
                            width: 135px;
                            padding: 12px 20px 8px;

                            &:first-child {
                                margin-right: 20px;
                            }
                        }

                        a {
                            display: inline-block;

                            &.zalo {
                                background-color: #508FBE;
                                color: #fff;
                            }
                        }
                    }

                }
            }
        }
    }

    .product-description {
        margin-bottom: 30px;
        line-height: 20px;

        @include breakpoint(tablet) {
            line-height: 22px;
        }

        img {
            width: auto;
            max-width: 100%;
            max-height: 300px;
            margin: 0 auto;
            display: flex;

            @include breakpoint(tablet) {
                max-height: 400px;
            }
        }

        span {
            img {
                display: inline-flex;
            }
        }

        a {
            color: var(--color-main-green);
            font-weight: 700;
        }
    }

    .infor-contact {
        margin-top: 150px;
    }
}

.section-products-featured {
    .section-products-featured-header {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        justify-content: space-between;

        @include breakpoint(tablet) {
            margin-bottom: 50px;
        }

        h3 {
            font-weight: 300;
            font-size: 18px;

            @include breakpoint(tablet) {
                font-size: 29px;
            }
        }
    }

    .products-carousel {
        .swiper-container {
            overflow: visible;
        }

        .product-item {
            margin-bottom: 0px;
            width: unset;
            padding: unset;

            @include breakpoint(tablet) {
                width: 33.3333%;
            }

            .product-image {
                height: 180px;

                @include breakpoint(tablet) {
                    height: 200px;
                }
            }
        }
    }
}

.post-product-page {
    padding-top: 15px;

    .p-header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 20px;

        @include breakpoint(tablet) {
            margin-bottom: 30px;
        }

        .p-title {
            font-size: 14px;
            font-weight: 700;

            @include breakpoint(tablet) {
                font-size: 16px;
            }
        }

        .form {
            select {
                width: 125px;
                height: 35px;

                @include breakpoint(tablet) {
                    height: 100%;
                    width: 150px;
                }
            }
        }
    }

    .post-product {
        display: unset;
        width: 100%;

        @include breakpoint(tablet) {
            display: flex;
            flex-direction: column;
            margin-left: 0px;
            width: 80%;
            max-width: 800px;
            margin: 0 auto;
        }

        .action {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-top: 50px;

            @include breakpoint(tablet) {
                justify-content: flex-end;
            }

            button {
                width: 45%;

                @include breakpoint(tablet) {
                    width: 150px;

                    &:last-child {
                        margin-left: 20px;
                    }
                }
            }
        }

        .broker-owner {
            display: inline-block;
            width: 50%;
            margin-top: 10px;
        }

        .checkbox {
            display: inline-flex;
        }

        .card-post {
            box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 4px;
            padding: 20px 10px 15px;
            margin-bottom: 20px;
            border-radius: 5px;

            @include breakpoint(tablet) {
                padding: 20px 20px 10px;
            }

            .title {
                margin-bottom: 20px;
                text-align: center;
                font-size: 18px;

                @include breakpoint(tablet) {
                    margin-bottom: 30px;
                }
            }

            .province {
                padding: 5px 0px 0px 10px;

                @include breakpoint(tablet) {
                    padding: 10px 0px 0px 18px;
                }
            }

            .des-group-lbl {
                display: flex;
                justify-content: space-between;

                button {
                    height: 28px;
                    min-width: 80px;
                }
            }

            .description-detail {
                width: 100%;
                border: 1px solid #d8d8d8;
                padding: 10px;
                border-radius: 5px;
                background: var(--color-main-gray);
                margin-top: 10px;

                @include breakpoint(tablet) {
                    margin-top: 12px;
                }
            }

            .package-card {
                border: 1px dotted #d8d8d8;
                padding: 25px 20px 15px;
                border-radius: 5px;
                margin-bottom: 15px;
                position: relative;

                @include breakpoint(tablet) {}

                .form-group:last-child {
                    margin-bottom: 0px;
                }
            }

            .add-pack {
                display: flex;
                justify-content: flex-end;
                padding-top: 10px;
            }

            .remove-pack {
                position: absolute;
                right: 10px;
                top: 12px;
                cursor: pointer;

                .icon-cancel {
                    font-size: 12px;
                    padding: 5px;
                }
            }
        }

    }

    .upload-image-wrapper {
        .image-upload {
            height: 100px;
            width: 100%;
            background: rgb(255, 255, 255);
            border: 1px dashed rgb(242, 242, 242);
            box-sizing: border-box;
            margin-bottom: 8px;
            cursor: pointer;
            text-align: center;
            font-size: 12px;

            @include breakpoint(tablet) {
                font-size: 14px;
            }

            .upload {
                height: 52px;
                width: 68px;
                background-repeat: no-repeat;
                background-position: center;
                margin: 0 auto;
                margin-top: 10px;
                margin-bottom: 10px;
                background-size: cover;
            }
        }

        .list-image-upload {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .image-item {
                height: 120px;
                width: 49%;
                border: 1.5px solid #e4e4e4;
                border-radius: 5px;
                background-size: cover;
                background-position: center;
                position: relative;
                margin-bottom: 8px;

                @include breakpoint(tablet) {
                    height: 200px;
                    margin-bottom: 15px;
                }

                .icon-remove {
                    position: absolute;
                    color: #fa5e52;
                    cursor: pointer;
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    right: 8px;
                    top: 5px;
                    padding: 5px;
                    background-position: center;
                    background-repeat: no-repeat;
                }
            }
        }

        .check-video {
            label {
                display: inline-flex;
            }
        }
    }

    .show-menu-filter {
        position: fixed;
        top: 65px;
        width: 100%;
        left: 0;
        right: 0;
        padding: 8px 10px;
        z-index: 100;
        font-size: 12px;
        background-color: #fff;
        display: flex;
        font-size: 14px;
        overflow-x: scroll;
        overflow-y: hidden;
        box-shadow: 0px 4px 8px rgb(182 182 182 / 18%);

        @include breakpoint(tablet) {
            display: none;
        }

        i {
            display: inline-block;
            transition: all 0.3s ease;
            transform: rotate(270deg);
        }

        &.show-menu-filter--active {
            i {
                transform: rotate(90deg);
            }
        }

        .filter-item {
            border: 1px dotted var(--color-main-coffee);
            padding: 6px 10px 6px 8px;
            min-width: 80px;
            max-width: 120px;
            width: auto;
            text-align: center;
            border-radius: 15px;
            margin-right: 8px;
            position: relative;
            padding-right: 20px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 12px;

            &:last-child {
                margin-right: 0px;
            }

            i {
                display: inline-block;
                transition: all 0.3s ease;
                transform: rotate(270deg);
                margin-left: 4px;
                position: absolute;
                top: 6px;
                right: 4px;
            }

            &.active {
                i {
                    transform: rotate(360deg);
                }
            }

            &.has-value {
                background: var(--color-main-gray-1);
            }
        }
    }
}


//style popup
.popup-filter-products-overlay {
    .filter-mobile {
        height: 70vh;
    }
}

.popup-filter-products-content {
    padding: 0px !important;
    border: none !important;
}