.profile-page {
    padding-top: 15px;

    .p-header {
        display: flex;
        align-items: flex-start;
        // justify-content: space-between;
        // align-items: center;
        padding: 15px 0px 30px 0px;

        @include breakpoint(tablet) {
            padding: 0px 0px 30px 0px;
        }

        .p-title {
            font-size: 14px;
            font-weight: 700;
            min-width: fit-content;

            @include breakpoint(tablet) {
                font-size: 16px;
                margin-right: 30px;
            }
        }
    }

    .account {
        .infor-user {
            .item {
                padding-bottom: 16px;

                @include breakpoint(tablet) {
                    padding-bottom: 20px;
                }

                &:last-child {
                    margin-top: 10px;

                    @include breakpoint(tablet) {
                        margin-top: 0px;
                    }
                }

                .label {
                    width: 100px;
                    display: inline-block;

                    @include breakpoint(tablet) {
                        width: 110px;
                    }
                }

                .val {
                    color: var(--color-black);
                    display: inline-block;
                }
            }

            .btn-tiny {
                float: right;
            }
        }
    }

    .address {
        .address-item {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-bottom: 1px solid #efefef;
            padding-bottom: 15px;
            padding-top: 15px;

            @include breakpoint(tablet) {
                padding-bottom: 20px;

                flex-direction: row;
            }

            &:first-child {
                padding-top: 0px;
            }

            &:last-child {
                border-bottom: none;
            }

            .a-i-content {
                line-height: 24px;

                .item {
                    display: flex;

                    p {
                        display: inline-block;
                        margin-bottom: 2px;

                        &:first-child {
                            min-width: 80px;

                            @include breakpoint(tablet) {
                                min-width: 100px;
                            }
                        }
                    }
                }
            }

            .a-i-action {
                display: flex;
                justify-content: flex-end;
                margin-top: 15px;
                align-items: center;

                @include breakpoint(tablet) {
                    justify-content: flex-end;
                    flex-direction: column;
                    justify-content: space-around;
                    margin-top: 0px;
                }

                .btn-tiny {
                    @include breakpoint(tablet) {
                        font-size: 12px;
                    }
                }

                p {
                    color: var(--color-main-green);

                    &:nth-child(2) {
                        margin-left: 20px;
                        color: var(--main-red-color);
                    }
                }
            }
        }
    }

    .change-password {
        .confirm-code {
            width: 70%;
            padding-top: 20px;
        }
    }

    .manage-booking {
        .form {
            width: fit-content;

            .form-row {
                margin-bottom: 0px !important;
            }
        }

        .m-o-content {
            .order-item {
                margin-bottom: 20px;
                border-bottom: 1px solid #fff;
                background: #f7f7f7;

                .o-i-status {
                    background: #f1f1f0;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    height: 36px;
                    border-bottom: 1px solid #fff;

                    @include breakpoint(tablet) {
                        height: 40px;
                    }

                    .order-code {
                        text-transform: capitalize;

                        span {
                            font-weight: 700;
                            margin-left: 10px;
                        }
                    }

                    .order-status {
                        color: var(--main-red-color);
                    }
                }

                .o-i-product {
                    padding: 10px 15px;
                    border-bottom: 1px solid #fff;
                    display: flex;
                    flex-direction: row;

                    @include breakpoint(tablet) {
                        padding: 15px 20px;
                        max-width: 600px;
                    }

                    .name {
                        display: flex;
                        align-items: center;
                        width: calc(100% - 90px);

                        .image {
                            margin-right: 20px;
                            height: 50px;
                            width: 50px;
                            background-size: cover;
                            background-position: center;
                            border-radius: 50%;

                            @include breakpoint(tablet) {
                                height: 50px;
                                width: 50px;
                                margin-right: 20px;
                            }
                        }

                        .quantity {
                            margin-top: 5px;
                        }
                    }

                    .price {
                        width: 90px;
                        text-align: right;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                    }
                }

                .o-i-delivery {
                    background: #f1f1f0;
                    height: 36px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;

                    @include breakpoint(tablet) {
                        height: 40px;
                    }

                    .total-price {
                        margin-right: 5px;

                        span {
                            margin-left: 5px;
                            font-weight: 700;

                            &:first-child {
                                margin-right: 5px;
                                margin-left: 10px;
                            }
                        }
                    }
                }
            }
        }
    }

    .manage-post-land {
        .m-p-l-content {
            .land-item-my-post {
                margin-bottom: 10px;

                .land-item {
                    margin-bottom: 0px;
                }

                .land-action {
                    height: 40px;
                    background: var(--color-main-gray-1);
                    padding: 0px 10px;
                    align-items: center;
                    display: flex;
                    border-radius: 0px 0px 5px 5px;
                    justify-content: space-between;

                    .new,
                    .update {
                        color: #448BCC;
                    }

                    .pending {
                        color: #CC2400;
                    }

                    .confirmed {
                        color: #63B652;
                    }

                    .l-a-action {
                        display: flex;
                        font-weight: 700;

                        .edit {
                            cursor: pointer;
                            color: var(--color-main-green);
                        }

                        .delete {
                            color: var(--main-red-2-color);
                            margin-left: 20px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }

    .profiles-filter {
        position: unset;
        height: unset;

        @include breakpoint(tablet) {
            width: 260px;
            margin-right: 30px;
            position: fixed;
            height: calc(100vh - 200px);
            overflow: auto;
            @include customScroll();
        }

        // .profiles-menu-desktop {
        //     display: none;
        //     z-index: 99;
        //     background-color: #fff;
        //     transition: all 0.4s ease;
        //     width: 100%;
        //     border-right: 1px solid var(--color-main-gray-1);
        //     padding-top: 5px;

        //     @include breakpoint(tablet) {
        //         display: block;
        //     }

        //     .filter-title {
        //         margin-bottom: 30px;
        //         color: #000;
        //         cursor: default;
        //     }

        //     a,
        //     p {
        //         text-align: center;
        //         text-align: center;
        //         cursor: pointer;
        //         color: var(--color-main-green);
        //         padding: 5px 0px;
        //         margin: 10px 0px;
        //         display: block;

        //         &.active {
        //             color: var(--color-main-coffee);
        //         }

        //         &:last-child {
        //             margin-top: 30px;
        //             color: #CC2400;
        //         }
        //     }

        //     .profiles-filter-block-content {
        //         padding-top: 15px;
        //         padding-bottom: 25px;
        //         padding-left: 20px;

        //         &.area {
        //             padding-left: 0px;
        //         }

        //         label {
        //             margin-bottom: 10px;
        //             cursor: pointer;
        //             -webkit-user-select: none;
        //             -webkit-touch-callout: none;
        //             -moz-user-select: none;
        //             -ms-user-select: none;
        //             user-select: none;

        //             &:last-child {
        //                 margin-bottom: 0px;
        //             }


        //             input {
        //                 display: none;
        //             }
        //         }
        //     }
        // }

        .profiles-menu-desktop {
            display: none;
            z-index: 99;
            width: 100%;
            background-color: #fff;
            border-right: 1px solid var(--color-main-gray-1);
            padding: 0px 16px 20px;
            transition: all 0.3s ease;

            @include breakpoint(tablet) {
                display: block;
            }

            /* ===== TITLE ===== */
            .filter-title {
                margin-bottom: 24px;
                font-size: 16px;
                font-weight: 600;
                color: #111;
                cursor: default;
            }

            /* ===== MENU ITEM ===== */
            .profile-item {
                display: flex;
                align-items: center;
                justify-content: flex-start;

                width: 100%;
                padding: 10px 14px;
                margin-bottom: 6px;

                font-size: 14.5px;
                font-weight: 500;

                color: var(--color-main-green);
                background: transparent;
                border-radius: 8px;
                border: 1px solid transparent;

                cursor: pointer;
                transition: all 0.2s ease;

                &:hover {
                    background-color: rgba(0, 128, 0, 0.06);
                }

                &.active {
                    color: var(--color-main-coffee);
                    background-color: rgba(110, 74, 54, 0.08);
                    font-weight: 600;
                }

                &:focus-visible {
                    outline: none;
                    box-shadow: 0 0 0 2px rgba(0, 128, 0, 0.25);
                }
            }

            .btn-logout {
                display: flex;
                align-items: center;
                justify-content: flex-start;

                width: 100%;
                padding: 10px 14px;
                margin-top: 18px;

                font-size: 14.5px;
                font-weight: 500;

                color: #cc2400;
                background: transparent;

                border-radius: 8px;
                border: 1px solid transparent;

                cursor: pointer;
                transition: all 0.2s ease;

                /* Hover - nhẹ, đúng UX danger */
                &:hover {
                    background-color: rgba(204, 36, 0, 0.06);
                    color: #a91c00;
                }

                /* Active - nhấn */
                &:active {
                    background-color: rgba(204, 36, 0, 0.12);
                }

                /* Focus - accessibility */
                &:focus-visible {
                    outline: none;
                    box-shadow: 0 0 0 2px rgba(204, 36, 0, 0.25);
                }
            }



            /* ===== FILTER BLOCK (giữ nguyên logic cũ) ===== */
            .profiles-filter-block-content {
                padding: 15px 0 25px 0;

                &.area {
                    padding-left: 0;
                }

                label {
                    display: block;
                    margin-bottom: 10px;
                    cursor: pointer;
                    user-select: none;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    input {
                        display: none;
                    }
                }

                .form-select {
                    width: 220px;
                    margin-bottom: 15px;

                    &.small {
                        height: 36px;
                        margin: 0 auto 10px;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }

    }

    .profile-content {
        width: 100%;

        @include breakpoint(tablet) {
            padding-left: 300px;
        }

        .p-title {
            margin-right: 20px;
        }
    }

    .account,
    .change-password {
        @include breakpoint(tablet) {
            width: 60%;
            min-width: 500px;
        }
    }

    .row-action {
        display: flex;
        justify-content: flex-end;
        margin-top: 40px;
    }
}