// A map of breakpoints.
$breakpoints: (
  phone: 767px,
  tablet: 1024px,
);

@mixin breakpoint($breakpoint) {

    // If the breakpoint exists in the map.
	@if map-has-key($breakpoints, $breakpoint) {
	
	// Get the breakpoint value.
	$breakpoint-value: map-get($breakpoints, $breakpoint);
	
	//Build the media query
		@media (min-width: $breakpoint-value) {
			@content;
		}
	} 
}

@mixin breakpointMax($breakpoint) {

    // If the breakpoint exists in the map.
	@if map-has-key($breakpoints, $breakpoint) {
	
	// Get the breakpoint value.
	$breakpoint-value: map-get($breakpoints, $breakpoint);
	
	//Build the media query
		@media (max-width: $breakpoint-value) {
			@content;
		}
	} 
}