.btn {
    width: auto;
    height: 36px;
    color: #000;
    text-align: center;
    padding: 8px 20px;
    cursor: pointer;
    background: #fff;
    border-radius: 40px;
    max-width: 200px;
    min-width: 100px;
    font-size: 14px;
    color: var(--color-main-green);

    @include breakpoint(tablet) {
        height: 40px;
        padding: 0px 30px;
        font-size: 16px;
        line-height: 16px;
    }

    &:hover {
        box-shadow: rgb(0 0 0 / 5%) 0px 0px 10px;
    }

    &.btn-small {
        height: 30px;
        padding: 0px 15px;

        @include breakpoint(tablet) {
            padding: 0px 20px;
        }
    }

    &.btn-border {
        border: 1px solid #d8d8d8;
        color: var(--color-main-green);
    }

    &.btn-green {
        background-color: var(--color-main-green);
        color: #fff;

        &:hover {
            background-color: var(--color-main-green-light);
        }
    }

    &.btn-full {
        width: 80%;
        max-width: 280px;

        @include breakpoint(tablet) {
            width: 220px;
        }
    }

    &.btn-disable {
        pointer-events: none;
        background-color: var(--color-gray);
        color: #fff;
    }
}

.btn-tiny {
    border: 1px dotted gray;
    padding: 5px 20px;
    border-radius: 15px;
    cursor: pointer;
    width: fit-content;
    color: var(--color-main-green);
}