.checkbox-wrapper {
    display: flex;
    align-items: center;

    &.inline {
        .checkbox {
            display: flex;
            margin-bottom: 0px;
            margin-right: 30px;
        }
    }

    &.checkbox-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr); // 📱 mobile
        gap: 12px 16px;

        @include breakpoint(tablet) {
            grid-template-columns: repeat(4, 1fr); // 💻 desktop
        }

        .checkbox {
            width: 100%;
            margin-bottom: 0;
        }
    }

}

.checkbox {
    font-weight: 300;
    font-size: 14px;
    display: flex;
    color: #000;
    margin-bottom: 10px;
    align-items: center;
    cursor: pointer;
    // display: inline-flex !important;
    padding: 0px !important;

    @include breakpoint(tablet) {
        margin-bottom: 12px;
    }

    &:hover {
        color: var(--color-main-green);

        .checkbox-check {
            box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
        }
    }

    &>input {
        display: none !important;
    }

    .checkbox-check {
        display: block;
        height: 20px;
        width: 20px;
        flex-shrink: 0;
        position: relative;
        margin-right: 14px;
        border: 1px solid #d4d4d4;

        @include breakpoint(tablet) {
            width: 22px;
            height: 22px;
            margin-right: 10px;
        }

        &:before {
            top: 2px;
            left: 6px;
            width: 6px;
            height: 10.5px;
            display: block;
            content: "";
            position: absolute;
            opacity: 0;
            transform: scale(1) rotate(45deg);
            border: 1px solid var(--color-main-green);
            -webkit-transition: all 0.2s linear;
            -o-transition: all 0.2s linear;
            transition: all 0.2s linear;
            border-width: 0 2px 2px 0;

            @include breakpoint(tablet) {
                top: 2px;
                left: 7px;
                width: 7px;
                height: 12.5px;
            }
        }
    }

    input:checked+.checkbox-check {
        &:before {
            opacity: 1;
        }
    }

    &.checkbox--square {
        position: relative;
        width: calc(100% / 6);

        input:checked+.checkbox-check {
            background-color: #000;
            border-color: #000;

            &:before {
                opacity: 0;
            }
        }

        input:checked~p {
            color: #fff;
        }

        input {
            display: none;
        }

        p {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        .checkbox-check {
            display: block;
            width: 100%;
            margin-right: 0;
            position: relative;
            padding-bottom: 100%;
            border-left: none;
            border-top: 1px solid #d4d4d4;
            border-bottom: 1px solid #d4d4d4;
            border-right: 1px solid #d4d4d4;

            .checkbox-color {
                position: absolute;
                top: 8px;
                left: 8px;
                right: 8px;
                bottom: 8px;
            }
        }

        &:first-of-type {
            .checkbox-check {
                border-left: 1px solid #d4d4d4;
            }
        }
    }

    p {
        font-size: 14px;

        @include breakpoint(tablet) {
            font-size: 16px;
        }
    }
}