.form-block {
    padding-top: 20px;

    @include breakpoint(tablet) {
        max-width: 400px;
        margin: 0 auto;
    }

    .form {
        padding: 0px 10px;
    }

    .form-title {
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 15px;

        @include breakpoint(tablet) {
            font-size: 18px;
        }
    }

    .form-description {
        font-size: 14px;
        text-align: center;
        margin-bottom: 40px;
        line-height: 20px;

        @include breakpoint(tablet) {
            font-size: 16px;
            line-height: 22px;
        }
    }
}

.form-row {
    &.two {
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        @include breakpoint(tablet) {
            flex-direction: row;
        }

        .form-col {
            @include breakpoint(tablet) {
                width: 48%;
            }
        }
    }

    &.three {
        display: flex;
        justify-content: space-between;

        .form-col {
            width: 100%;
        }
    }

    .form-col {
        width: 100%;
        margin-bottom: 15px;

        label {
            padding: 0px 0px 6px 0px;
            display: block;
            font-size: 12px;
            font-style: italic;

            @include breakpoint(tablet) {
                font-size: 14px;
            }

            &.required {
                color: var(--main-red-color);
                display: inline;
                padding-left: 3px;
            }

            &.note {
                color: rgb(80, 80, 80);
                font-size: 10px;
                margin-bottom: 5px;

                @include breakpoint(tablet) {
                    font-size: 12px;
                    margin-bottom: 8px;
                }
            }
        }
    }
}