.img-logo {
    height: 40px;
    width: 100px;
    background-size: cover;
    background-position: center;


    @include breakpoint(tablet) {
        height: 70px;
        width: 170px;
    }
}

.search-form-wrapper {
    position: relative;
    z-index: 5000;

    @include breakpoint(tablet) {
        display: none;
    }

    .search-form {
        position: fixed;
        z-index: 100;
        top: -100vh;
        left: 0;
        height: 100vh;
        right: 0;
        transition: all 0.3s ease;
        background-color: #fff;

        @include breakpoint(tablet) {
            position: static;
            height: auto;
            top: auto;
        }

        .icon-cancel {
            top: 18px;
            right: 22px;
            cursor: pointer;
            position: absolute;

            @include breakpoint(tablet) {
                display: none;
            }
        }

        input {
            padding: 0;
            overflow: hidden;
            height: 42px;
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 18px;
            transform: translate(-50%, -50%);
            border-bottom: 1px solid black;
            transition: all 0.3s ease;
            background-color: transparent;

            @include inputPlaceholder {
                color: #808080;
            }

            @include breakpoint(tablet) {
                width: 0;
                top: 50%;
                left: auto;
                font-size: 16px;
                right: -9px;
                border: none;
                border-radius: 50px;
                margin-top: -21px;
                transform: none;
            }
        }
    }

    &.search-active {
        input {
            width: 80%;
            text-align: center;
            background-color: #fff;

            @include breakpoint(tablet) {
                width: 300px;
                padding: 0 19px;
                text-align: left;
            }
        }

        // i {
        //     color: #000 !important;
        // }
    }
}

.popup-cart {
    height: 100px;
    width: 190px;
    position: absolute;
    top: 40px;
    right: 10px;
    display: block;
    border: none;
    border-radius: 5px;
    box-shadow: rgb(100 100 111 / 7%) 0px 7px 10px 0px;
    background-color: var(--color-main-gray-1);
    padding: 15px;
    text-align: center;
    font-size: 14px;

    @include breakpoint(tablet) {
        right: 20px;
    }

    &::after {
        content: "";
        position: absolute;
        right: 32px;
        top: -10px;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid var(--color-main-gray-1);
        clear: both;
    }

    .txt {
        font-weight: 500;
        color: var(--color-black) !important;
        margin-bottom: 20px;
    }

    button {
        height: 35px;
        margin: 0px !important;
        width: 90%;
        line-height: 6px;
        padding: 15px 20px;
        color: #fff !important;

        @include breakpoint(tablet) {
            padding: 0px 20px;
        }
    }
}

.btn-cart {
    position: relative;

    .btn-cart-count {
        bottom: 0;
        right: 0;
        font-size: 10px;
        width: 13px;
        height: 13px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        background-color: var(--color-main-green);
        border-radius: 100%;
        position: absolute;
        z-index: 100;
    }
}