.form-input {
    position: relative;
    height: 36px;

    @include breakpoint(tablet) {
        height: 40px;
    }

    input {
        width: 100%;
        height: 100%;
        padding: 0 14px;
        border-radius: 40px;
        border: 1px solid #d8d8d8;
        font-size: 14px;

        @include breakpoint(tablet) {
            padding: 0 28px;
            font-size: 16px;
            padding: 0 22px;
        }

        &[disabled] {
            background: var(--color-main-gray);
        }
    }

    &.has-label {
        height: 54px;

        @include breakpoint(tablet) {
            height: 60px;
        }

        input {
            height: 36px;

            @include breakpoint(tablet) {
                height: 40px;
            }
        }

        &.has-one-note {
            height: 72px;

            @include breakpoint(tablet) {
                height: 78px;
            }
        }
    }

}