.popup-area {
    .close {
        float: right;
    }

    .popup-title {
        text-align: center;
        padding: 20px 0 10px;
        font-size: 16px;

        @include breakpoint(tablet) {
            font-size: 18px;
        }
    }

    .popup-message {
        padding-bottom: 10px;
        text-align: center;
        font-size: 14px;

        @include breakpoint(tablet) {
            font-size: 16px;
        }
    }

    .action-cancel-submit {
        @include breakpoint(tablet) {
            justify-content: center;
        }
    }
}

.popup-address {
    .title {
        margin-bottom: 20px;
        font-size: 14px;
        font-weight: 500;

        @include breakpoint(tablet) {
            margin-bottom: 30px;
            font-size: 16px;
        }
    }
}

.popup-contact {
    .title {
        margin-bottom: 20px;
        font-size: 14px;
        font-weight: 500;

        @include breakpoint(tablet) {
            margin-bottom: 30px;
            font-size: 16px;
        }
    }

    .close {
        position: absolute;
        right: 20px;
        top: 20px;
        cursor: pointer;
    }

    .item {
        display: flex;
        margin-bottom: 10px;

        @include breakpoint(tablet) {
            margin-bottom: 12px;
        }

        &.name {
            margin-bottom: 15px;
            font-weight: 500;

            .c-label {
                font-weight: normal;
            }
        }

        &.commission {
            margin-top: 15px;
            font-weight: 500;
        }

        &.p-info {
            flex-direction: column;

            .p-item {
                margin-bottom: 10px;

                .p-i-p-o {
                    color: var(--color-main-coffee);
                    margin: 0px 5px;
                }

                .p-i-p {
                    color: var(--color-main-green);
                    margin-left: 5px;
                }
            }
        }

        .age {
            margin-left: 30px;
        }
    }

    .c-label {
        margin-right: 10px;
        width: 80px;
        display: inline-block;
        font-size: 14px;
        font-style: italic;

        @include breakpoint(tablet) {
            width: 80px;
        }
    }

    .c-value {
        width: calc(100% - 85px);
    }

    .p-contact-action {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 10px;

        @include breakpoint(tablet) {
            padding-top: 15px;
            justify-content: flex-end;
        }

        &.infor-account {
            padding-top: 0px;
        }

        a.btn {
            width: 200px;
            margin: 10px auto;
            padding: 12px 20px 8px;

            &.btn_zalo {
                background-color: #508FBE;
                color: #fff;
            }

            &.btn_facebook {
                background-color: #1B74E4;
                color: #fff;
            }
        }
    }
}


.filter-mobile {
    display: block;
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0px;
    background: #fff;
    z-index: 9999;
    max-height: calc(100vh - 100px);
    height: 85vh;
    border-radius: 10px 10px 0px 0px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

    @include breakpoint(tablet) {
        display: none;
    }


    .filter-head {
        height: 60px;
        border-bottom: 1px solid #ebebeb;
        padding: 10px;
        font-size: 16px;
        font-weight: bold;
        align-items: center;
        display: flex;
        justify-content: center;

        .icon-cancel {
            position: absolute;
            right: 20px;
            font-size: 14px;
            top: 22px;
        }
    }

    .filter-content {
        padding: 20px 20px;
        height: 215px;
        overflow: auto;
        height: 100%;

        label {
            margin-bottom: 25px;
            font-size: 16px;
        }

        .form-select {
            margin-bottom: 25px;
        }

        .checkbox {
            p {
                font-size: 16px;
            }
        }
    }

    .filter-footer {
        height: 55px;
        padding-top: 10px;
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: center;
        width: 100%;

        .remove-filter {
            padding: 8px 38px;
            border: 1px solid;
            border-radius: 26px;
            height: 31px;
            color: var(--color-main-green);
        }
    }

}

.ReactModal__Content--after-open {
    width: 90vw !important;

    @include breakpoint(tablet) {
        width: 700px !important;
    }
}