.popup-area {
    .close {
        float: right;
    }

    .popup-title {
        text-align: center;
        padding: 20px 0 10px;
        font-size: 16px;

        @include breakpoint(tablet) {
            font-size: 18px;
        }
    }

    .popup-message {
        padding-bottom: 10px;
        text-align: center;
        font-size: 14px;

        @include breakpoint(tablet) {
            font-size: 16px;
        }
    }

    .action-cancel-submit {
        @include breakpoint(tablet) {
            justify-content: center;
        }
    }
}

.popup-address {
    .title {
        margin-bottom: 20px;
        font-size: 14px;
        font-weight: 500;

        @include breakpoint(tablet) {
            margin-bottom: 30px;
            font-size: 16px;
        }
    }
}

.ReactModal__Content--after-open {
    width: 90vw !important;

    @include breakpoint(tablet) {
        width: 700px !important;
    }
}